# Byte-compiled / Optimized / DLL
__pycache__/
config/__pycache__
config/settings/*
features/__pycache__
*.py[cod]
*$py.class

# OS Junk
[Tt]humbs.db
*.DS_Store
.DS_Store
endpoints/.DS_Store
storage/reports/*.json

# Work in Progress
working_*.py